@import "colors.css";

.post-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "ft";
  margin: 0;
}

content {
  display: flex;
  justify-content: center;
}

.post-top {
  background-image: url("../Images/cruise-ship-night.jpeg");
  background-position: cover;
  display: flex;
  justify-content: center;
  min-height: 40vh;
  width: 100vw;
}

.title-block {
  min-height: 30vh;
  margin: 30px;
  width: 40vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-background-one);
  text-shadow: 0 0 2px #000;
}

.title-block h1 {
  letter-spacing: 0.2em;
  font-size: 2.5em;
}

.text-section {
  width: 80vw;
  margin: auto;
  line-height: 1.5;
}

.text-section img {
  width: 80vw;
}

.text-section h2 {
  text-align: center;
}

.first-para::first-letter {
  font-size: 1.5em;
}
