@import "colors.css";

content {
  grid-area: main;
  display: flex;
  justify-content: center;
}

.post-container {
  margin-bottom: 60px;
}

figcaption {
  text-align: center;
  font-weight: bold;
}

.author-box {
  margin: 10px auto;
}

.author-bio {
  background-color: var(--main-background-two);
  display: flex;
  justify-content: flex-start;
  border-radius: 4px;
  padding: 10px;
}

.author-img {
  width: 110px;
  border-radius: 50%;
  padding: 10px;
  height: 100px;
}

.author-left {
  margin-left: 50px;
  padding: 10px;
}

.post-top {
  background-image: url("../Images/cruise-ship-night.jpeg");
  background-position: cover;
  display: flex;
  justify-content: center;
  min-height: 40vh;
  width: 100vw;
}

.title-block {
  min-height: 30vh;
  margin: 30px;
  width: 40vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-background-one);
  text-shadow: 0 0 2px #000;
}

.title-block h1 {
  letter-spacing: 0.2em;
  font-size: 2.5em;
}

.text-section {
  width: 80vw;
  margin: auto;
  line-height: 1.5;
}

.text-section img {
  width: 80vw;
}

.text-section h2 {
  text-align: center;
  margin-top: 30px;
}

.first-para::first-letter {
  font-size: 1.5em;
}

.linkedIn-share {
  background-color: #0b65c2;
  padding: 4px;
  border-radius: 4px;
  margin-right: 10px;
}

.share-button {
  color: var(--main-background-one);
  text-decoration: none;
}

.share-button:hover {
  cursor: pointer;
  color: var(--main-background-two);
  filter: brightness(0.8);
}

.shares {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 798px) {
  .author-box {
    display: flex;
    width: 80%;
    justify-content: flex-start;
  }

  .author-bio {
    width: 50%;
  }
} ;
