:root{
    --main-text-color: black;
    --main-background-one: white;
    --main-background-two: #EAE7DC;
    --main-caramel: #D8C3A5;
    --main-dark-grey: #8E8D8A;
    --main-pale-red: #e98074;
    --main-dark-red: #E85A4F;
}