:root {
  --main-text-color: black;
  --main-background-one: white;
  --main-background-two: #eae7dc;
  --main-caramel: #d8c3a5;
  --main-dark-grey: #8e8d8a;
  --main-pale-red: #e98074;
  --main-dark-red: #e85a4f;
}
