@import "colors.css";

.contact-container {
  text-align: center;
  display: block;
}

.left-contact {
  padding: 40px;
  color: var(--main-dark-grey);
}

.right-contact {
  background-color: var(--main-background-two);
  width: 100%;
  padding: 40px;
}

/* Contact Form Section */
.contact-form {
  border: 2px solid var(--main-dark-grey);
  padding: 20px;
}

.form-label {
  color: var(--main-dark-grey);
}

.form-row {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

.button-row {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0;
}

.submit {
  border: none;
  background-color: var(--main-pale-red);
  padding: 8px;
  border-radius: 4px;
  color: white;
}

.submit:hover {
  background-color: var(--main-dark-red);
}

@media screen and (min-width: 500px) and (max-width: 920px) {
  .form-row {
    width: 75%;
  }
  .contact-form {
    width: 60%;
  }
}

@media only screen and (min-width: 930px) {
  .form-row {
    width: 50%;
  }

  .contact-form {
    width: 45%;
  }
}

@media screen and (min-width: 830px) {
  .right-contact {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
