@import "colors.css";
@import "sizing.css";

/* Main Content */
.content {
  grid-area: main;
  display: flex;
  justify-content: center;
  width: 100%;
}

/* First Section */
.card {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 2fr 1fr;
  grid-template-areas:
    "left"
    "right-top"
    "right-bottom";
}

.left-card {
  grid-area: left;
  background-image: url("../Images/cruise-ship-small.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-title {
  background-color: rgba(255, 255, 255, 0.4);
  color: var(--main-background-one);
  text-shadow: 0 0 2px #000;
  padding: 20px;
  border: 4px double var(--main-background-one);
}

.card-title:hover {
  background-color: rgba(255, 255, 255, 0.6);
  color: var(--main-dark-grey);
  text-shadow: none;
  cursor: pointer;
}

.card-link {
  text-decoration: none;
}

.right-card {
  padding: 40px;
  background-color: var(--main-background-one);
}

.top-right {
  grid-area: right-top;
}

.bottom-right {
  grid-area: right-bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}

.read-more {
  border: none;
  background-color: var(--main-pale-red);
  padding: 8px;
  border-radius: 4px;
  color: white;
}

.read-more:hover {
  background-color: var(--main-dark-red);
}

/* Second Section */
.multi-cards {
  background-color: var(--main-background-two);
  min-height: 500px;
  padding: 20px 5px;
}

.mini-card {
  background-color: var(--main-background-one);
  text-align: center;
  width: 80%;
  margin: 20px auto;
  padding: 20px;
}

.mini-card-img {
  width: 80%;
  max-height: 300px;
}

.mini-card-btn {
  margin: 20px auto;
}

@media screen and (min-width: 500px) and (max-width: 797px) {
}

@media only screen and (min-width: 798px) {
  .nav-list {
    display: flex;
    width: 60vw;
    justify-content: center;
    margin: auto;
  }

  .nav-list li {
    margin: 0 10px;
  }

  .card {
    width: 80%;
    background-color: var(--main-background-two);
    border-radius: 4px;
    margin: 30px 0;
    padding: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas:
      "left right-top"
      "left right-bottom";
  }

  .top-right {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .multi-cards {
    display: flex;
    justify-content: center;
  }

  .mini-card {
    width: 40%;
  }
}
