@import "colors.css";
@import "sizing.css";

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "ft";
  margin: 0;
}

header {
  max-height: 150px;
}

.header-container {
  grid-area: header;
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 0;
}

.nav-container {
  grid-area: nav;
  background-color: var(--main-background-two);
  padding: var(--large-padding);
}

.nav-item {
  text-decoration: none;
  display: block;
  margin: auto;
  text-align: center;
  color: black;
  text-transform: uppercase;
}

.nav-item:active {
  font-weight: bold;
}

.nav-item:hover {
  text-decoration: underline;
  display: block;
}

.nav-container ul {
  padding-inline-start: 0;
}

.nav-list li {
  list-style: none;
}

.content {
  grid-area: main;
  display: flex;
  justify-content: center;
  width: 100%;
}

.card {
  width: 80%;
  background-color: var(--main-background-two);
  border-radius: 4px;
  min-height: 200px;
  margin: 30px 0;
  padding: 10px;
}

.inner-card {
  margin: 10px;
  border-radius: 4px;
}

.left-card {
  background-image: url("../images/cruise\ ship\ small.png");
  background-size: cover;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-card {
  background-color: var(--main-background-one);
  height: 200px;
}

.card-image {
  width: 100%;
  object-fit: cover;
}

.title-box {
  background-color: rgba(255, 255, 255, 0.3);
  border: 4px double var(--main-background-one);
  padding: 8px;
  border-radius: 4px;
  color: var(--main-background-one);
  text-shadow: 0 0 2px #000;
}

.title-box:hover {
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  color: var(--main-dark-grey);
  text-shadow: none;
}

/* .card-title {
  color: var(--main-background-one);
}

.card-title:hover {
  color: var(--main-text-color);
} */

@media only screen and (min-width: 798px) {
  .nav-list {
    display: flex;
    width: 60vw;
    justify-content: center;
    margin: auto;
  }

  .nav-list li {
    margin: 0 10px;
  }

  .inner-card {
    display: flex;
    justify-content: space-between;
  }

  .single-card {
    width: 50%;
  }
}
