@import "homepage.css";
@import "colors.css";
@import "blogpage.css";

* {
  font-size: 16px;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body h1 {
  font-size: 2em;
}
