@import "homepage.css";
@import "colors.css";
@import "blogpage.css";
@import "contact.css";
@import "about.css";
@import "message.css";

* {
  font-size: 16px;
  box-sizing: border-box;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body h1 {
  font-size: 2em;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "ft";
  margin: 0;
}

/* Header section  */
header {
  max-height: 150px;
}

.header-container {
  grid-area: header;
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 0;
}

/* Nav Section  */
.nav-container {
  grid-area: nav;
  background-color: var(--main-background-two);
  padding: var(--large-padding);
}

.nav-item {
  text-decoration: none;
  display: block;
  margin: auto;
  text-align: center;
  color: black;
  text-transform: uppercase;
}

.nav-item:active {
  font-weight: bold;
}

.nav-item:hover {
  text-decoration: underline;
  display: block;
}

.nav-container ul {
  padding-inline-start: 0;
}

.nav-list li {
  list-style: none;
}

.footer {
  background-color: var(--main-dark-grey);
  height: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 7fr 1fr;
  grid-template-areas:
    "ft-left ft-right"
    "ft-btm ft-btm";
}

.ft-btm {
  grid-area: ft-btm;
  color: var(--main-background-one);
  text-align: center;
}
